
<!doctype html>
<html lang="en">
  <head>

    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Anonymous messaging app for car-to-car or pedestrian-to-car communication">
    <meta name="title" content="Tagged Messenger">
    <title>tagged 2.0</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">



    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100, 300, 400, 700|Nunito+Sans:200,400|Hind+Siliguri:300,400,600" rel="stylesheet">
  <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>

  <body>
<!-- Navigation Bar -->

<nav class="navbar navbar-expand-sm sticky-top">
        <div class="container">
                
          <button class="navbar-toggler collapsed mr-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar "></span>
                <span class="sr-only">Toggle navigation</span>
              </button>

              <a class="navbar-brand" href="#"><img class="logo" src="../img/tagged-logo-gray.png" height='45'><img class="logo-small" src="../img/tagged_small_logo.png" height='40'></a> 
          <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        {{#if isLoggedIn}}
                        <!--If logged in, display this-->
                        <a class="nav-link" href="#" data-target="#inbox">INBOX</a>
                        {{else}}
                        <!--If NOT logged in, display this-->  
                          <a class="nav-link" href="#"  data-target="#about">ABOUT</a>
                        {{/if}}
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">FAQ</a>
                        </li>
                        <li class="nav-item">
                        {{#if isLoggedIn}}
                        <!--If logged in, display this-->
                            <a class="nav-link" id="logout" href="/logout"  data-target="#logout">LOG OUT</a>
                        {{else}}
                        <!--If NOT logged in, display this-->  
                            <a class="nav-link" href="/login" data-toggle="modal" data-target="#at-login">LOGIN</a>
                        {{/if}}
                        </li>
                      </ul>
          </div>
        </div>
      </nav>
<div class="container-fluid msg-container align-items-end">
<!--If logged in, display this-->
{{#if isLoggedIn}}


<form action="/" method="POST">
<div class="row send-message">
    <div class="col-md-1">
        {{!-- <p>send a message -></p> --}}
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control-form messageContent" name="tagNum" placeholder="Tag Number">
    </div>
    <div class="col-sm-2">
        {{!-- <button type="submit" class="btn-state sendmsg" value="state">STATE</button> --}}
        <div class="custom-select" style="width:120px;"> 
        <select id="select" class="" name="state">
            <option selected="true" disabled="disabled">State</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        </div>
    </div>
    <div class="col-sm-4">
         <input type="text" class="form-control-form messageContent" name="newMessage" placeholder="Your Message...">
    </div>
    <div class="col-sm-1">
        <button type="submit" class="btn-sendmsg sendmsg" value="send">SEND MESSAGE</button>
    </div>
</div>
</form>

<div class="row flex-row">

{{#each tagnum}}

  <div class="card">
    <img class="card-img-top" src="../img/plate.png" alt="Card image cap">
    <div class="card-img-overlay">
        <h5 class="card-title">{{tagnum}}</h5>
    </div>
    {{!-- <div class="card-body"> --}}
      <h6 class="card-title">{{make}}</h6>
      <h6 class="card-title">{{model}}</h6>
      <h6 class="card-title">{{year}}</h6>
    {{!-- </div> --}}
    
    <a href="#" class="btn-inbox" >INBOX</a>
    
    <div class="card-body">
      {{#each messages}}
      <hr />
      <p class="message">{{message}}</p>
      <p class="datestamp">{{createdAt}}</p>
      {{/each}}
      <hr/>
      </div>
  </div>

{{/each}}

  <div class="card">
    <img class="card-img-top" src="../img/plate-add.png" alt="Card image cap">
    <div class="card-img-overlay">
        <h5 class="card-title">ADD TAG</h5>
    </div>
    <div class="card-body card-body-plus">
      <img class="plus-sign" data-toggle="modal" data-target="#add-tag" src="../img/plus-sign.png" height="67px"/>
    </div>
  </div>
</div>
<!-- If NOT logged in, display this-->



<!--Landing Page Container-->
{{else}}
{{!-- <div class="container-fluid msg-container align-items-end"> --}}
        <div class="headline">
            <h4>finally, cars have an inbox   </h4>  
            <br />
            <h6>SEND A MESSAGE TO ANY CAR, ANYWHERE, ANYTIME</h6>
            <h3><strong>all you need is the license plate number</strong></h3>
            <h6>CHECK TO SEE IF ANYONE HAS ALREADY TAGGED YOU</h6>
            <div class="row justify-content-end">
            <input type="tagnum" class="form-control transparent_form" id="tagnum" placeholder="TAG NUMBER">
            <a href="#" class="transparent_btn" data-toggle="modal" data-target="#at-signup">GET STARTED</a>
        </div>
        </div>
{{/if}}
    </div>

<!--Modals-->
<section class="at-login-form">
        <!-- MODAL LOGIN -->
        <form  action="/login" method="GET">
        <div class="modal fade" id="at-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <button class="btn-gt"> <i class="fa fa-fw fa-github pull-left" aria-hidden="true"></i>
                            Login with Github </button> <br>  
                        <button class="btn-fb"> <i class="fa fa-fw fa-facebook pull-left" aria-hidden="true"></i>
                            Login with Facebook </button> <br>  
                            <button class="btn-gp"> <i class="fa fa-fw fa-google-plus pull-left" aria-hidden="true"></i>
                                Login with Google   </button> <br>  
                                <div class="signup-or-separator">
                                    <span class="h6 signup-or-separator--text">or</span>
                                    <hr>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <input type="email" class="form-control-form " id="login-email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control-form " id="login-password" placeholder="Password">
                                    </div>
                                    <div class="row">   
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Remember me
                                                </label>
                                            </div>                      
                                        </div>
                                        <div class="col-md-4 col-md-offset-2"> 
                                            <p class="frgt-pswd"   data-toggle="modal" data-dismiss="modal"  data-target="#at-reset-pswd">  Forgot Password ?</p>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn-lgin">Login</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="row flex-row justify-content-end">   
                                    <div class="col-md-6">
                                        <p class="ta-l">Don't have an account ? </p>
                                    </div>  
                                    <div class="col-md-4 col-md-offset-2">  
                                        <button class="btn-gst mt-1"  data-toggle="modal"  data-dismiss="modal" data-target="#at-signup" >Sign Up </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <!-- MODAL LOGIN ENDS -->
                <!-- MODAL SIGNUP -->
                <div class="modal fade" id="at-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="/login" method="GET">
                                <button class="btn-gt"> <i class="fa fa-fw fa-github pull-left" aria-hidden="true"></i>
                            Signup with Github </button> <br> 
                            </form>
                                <button class="btn-fb"> <i class="fa fa-fw fa-facebook pull-left" aria-hidden="true"></i>
                                    Signup with Facebook    </button> <br>  
                                    <button class="btn-gp"> <i class="fa fa-fw fa-google-plus pull-left" aria-hidden="true"></i>
                                        Signup with Google  </button> <br>  
                                        <div class="signup-or-separator">
                                            <span class="h6 signup-or-separator--text">or</span>
                                            <hr>
                                        </div>
                                        <button type="submit" class="btn-lgin" data-toggle="modal"  data-dismiss="modal" data-target="#at-signup-filling">Signup with Email</button> <hr>   
                                        <p>    By signing up, I agree to Tagged's <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>. </p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">   
                                            <div class="col-md-6">
                                                <p class="text-left">Already a member? </p>
                                            </div>  
                                            <div class="col-md-4 col-md-offset-2">  
                                                <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-login">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MODAL SIGNUP FORM FILLING -->
                        <form action="/login" method="GET">
                        <div class="modal fade" id="at-signup-filling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <input type="email" class="form-control-form " id="signup-email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control-form " id="signup-password" placeholder="Password">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input id="pedestrian-mode" type="checkbox"> Pedestrian Mode 
                                                </label>
                                                <a href="#" data-toggle="popover" data-placement="top" data-content="This allows you to send messages even if you don't have a vehicle. However, you won't be able to receive messages. Don't worry, you can change this later."><i class="fa fa-question-circle" style="font-size:16px;color:dimgray"></i></a>
                                            </div>   
                                            <div id="vehicle-info">
                                                <div class="form-group">
                                                    <input type="text" class="form-control-form " id="licenseplate" placeholder="License Plate Number">
                                                </div>  
                                                <div class="form-group">
                                                    <span>License Plate State: </span>
                                                    <div class="custom-select" style="width:120px;">    
                                                    <select id="state">
                                                            <option value="AL">Alabama</option>
                                                            <option value="AK">Alaska</option>
                                                            <option value="AZ">Arizona</option>
                                                            <option value="AR">Arkansas</option>
                                                            <option value="CA">California</option>
                                                            <option value="CO">Colorado</option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                            <option value="DC">District Of Columbia</option>
                                                            <option value="FL">Florida</option>
                                                            <option value="GA">Georgia</option>
                                                            <option value="HI">Hawaii</option>
                                                            <option value="ID">Idaho</option>
                                                            <option value="IL">Illinois</option>
                                                            <option value="IN">Indiana</option>
                                                            <option value="IA">Iowa</option>
                                                            <option value="KS">Kansas</option>
                                                            <option value="KY">Kentucky</option>
                                                            <option value="LA">Louisiana</option>
                                                            <option value="ME">Maine</option>
                                                            <option value="MD">Maryland</option>
                                                            <option value="MA">Massachusetts</option>
                                                            <option value="MI">Michigan</option>
                                                            <option value="MN">Minnesota</option>
                                                            <option value="MS">Mississippi</option>
                                                            <option value="MO">Missouri</option>
                                                            <option value="MT">Montana</option>
                                                            <option value="NE">Nebraska</option>
                                                            <option value="NV">Nevada</option>
                                                            <option value="NH">New Hampshire</option>
                                                            <option value="NJ">New Jersey</option>
                                                            <option value="NM">New Mexico</option>
                                                            <option value="NY">New York</option>
                                                            <option value="NC">North Carolina</option>
                                                            <option value="ND">North Dakota</option>
                                                            <option value="OH">Ohio</option>
                                                            <option value="OK">Oklahoma</option>
                                                            <option value="OR">Oregon</option>
                                                            <option value="PA">Pennsylvania</option>
                                                            <option value="RI">Rhode Island</option>
                                                            <option value="SC">South Carolina</option>
                                                            <option value="SD">South Dakota</option>
                                                            <option value="TN">Tennessee</option>
                                                            <option value="TX">Texas</option>
                                                            <option value="UT">Utah</option>
                                                            <option value="VT">Vermont</option>
                                                            <option value="VA">Virginia</option>
                                                            <option value="WA">Washington</option>
                                                            <option value="WV">West Virginia</option>
                                                            <option value="WI">Wisconsin</option>
                                                            <option value="WY">Wyoming</option>
                                                        </select>
                                                    </div>
                                                </div>  
                                                <div class="form-group">
                                                    <input type="text" class="form-control-form " id="vin" placeholder="VIN Number">
                                                </div> 
                                            </div>
                                            <p>    By signing up, I agree to Tagged's <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>. </p>
                                            <div class="row">   
                                                <div class="col-md-12"> 
                                                    
                                                </div>          
                                            </div>
                                            <button type="submit" class="btn-lgin" id="signup-button">Signup</button>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">   
                                            <div class="col-md-6">
                                                <p class="ta-r">Already a Member? </p>
                                            </div>  
                                            <div class="col-md-4 col-md-offset-2">  
                                                <button class="btn-gst"  data-toggle="modal"  data-dismiss="modal" data-target="#at-login">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                        <!-- MODAL SIGNUP FORM FILLING -->
                        <!-- MODAL ADD TAG -->
                        <form action="/addtag" method="POST">
                        <div class="modal fade" id="add-tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                            <div id="vehicle-info">
                                                <div class="form-group">
                                                    <input type="text" class="form-control-form " id="licenseplate" name="tagNum" placeholder="License Plate Number">
                                                </div>  
                                                <div class="form-group">
                                                    <span>License Plate State: </span>  
                                                    <div class="custom-select" style="width:120px;">   
                                                    <select id="state" name="state">
                                                            <option value="AL">Alabama</option>
                                                            <option value="AK">Alaska</option>
                                                            <option value="AZ">Arizona</option>
                                                            <option value="AR">Arkansas</option>
                                                            <option value="CA">California</option>
                                                            <option value="CO">Colorado</option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                            <option value="DC">District Of Columbia</option>
                                                            <option value="FL">Florida</option>
                                                            <option value="GA">Georgia</option>
                                                            <option value="HI">Hawaii</option>
                                                            <option value="ID">Idaho</option>
                                                            <option value="IL">Illinois</option>
                                                            <option value="IN">Indiana</option>
                                                            <option value="IA">Iowa</option>
                                                            <option value="KS">Kansas</option>
                                                            <option value="KY">Kentucky</option>
                                                            <option value="LA">Louisiana</option>
                                                            <option value="ME">Maine</option>
                                                            <option value="MD">Maryland</option>
                                                            <option value="MA">Massachusetts</option>
                                                            <option value="MI">Michigan</option>
                                                            <option value="MN">Minnesota</option>
                                                            <option value="MS">Mississippi</option>
                                                            <option value="MO">Missouri</option>
                                                            <option value="MT">Montana</option>
                                                            <option value="NE">Nebraska</option>
                                                            <option value="NV">Nevada</option>
                                                            <option value="NH">New Hampshire</option>
                                                            <option value="NJ">New Jersey</option>
                                                            <option value="NM">New Mexico</option>
                                                            <option value="NY">New York</option>
                                                            <option value="NC">North Carolina</option>
                                                            <option value="ND">North Dakota</option>
                                                            <option value="OH">Ohio</option>
                                                            <option value="OK">Oklahoma</option>
                                                            <option value="OR">Oregon</option>
                                                            <option value="PA">Pennsylvania</option>
                                                            <option value="RI">Rhode Island</option>
                                                            <option value="SC">South Carolina</option>
                                                            <option value="SD">South Dakota</option>
                                                            <option value="TN">Tennessee</option>
                                                            <option value="TX">Texas</option>
                                                            <option value="UT">Utah</option>
                                                            <option value="VT">Vermont</option>
                                                            <option value="VA">Virginia</option>
                                                            <option value="WA">Washington</option>
                                                            <option value="WV">West Virginia</option>
                                                            <option value="WI">Wisconsin</option>
                                                            <option value="WY">Wyoming</option>
                                                        </select>
                                                    </div>
                                                </div>  
                                                <div class="form-group">
                                                    <input type="text" class="form-control-form " id="vin" placeholder="VIN Number">
                                                </div> 
                                            </div>
                                            
                                            <div class="row">   
                                                <div class="col-md-12"> 
                                                    
                                                </div>          
                                            </div>
                                            <button type="submit" class="btn-lgin" id="add-button">Add Tag</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                        <!-- END MODAL ADD TAG -->
                        <!-- MODAL FORGOT PASSWORD -->
                        <div class="modal fade" id="at-reset-pswd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <p> Enter the email address associated with your account, and we’ll email you a link to reset your password. </p>
                                            <div class="form-group">

                                                <input type="email" class="form-control-form " id="forgot-email" placeholder="Email">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
    </section>


    <!--FOOTER-->
    <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h2 class="logo"><a href="#"><img class="logo-footer" src="../img/tagged-logo-white.png" height='85'></a></h2>
                    </div>
                    <div class="col-sm-2">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Log In</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>About Us</h5>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Help Desk</a></li>
                            <li><a href="#">Work With Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="social-networks">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <button type="button" class="btn btn-default">Contact us</button>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2018 tagged, inc. </p>
            </div>
        </footer>
    </body>
    <script src="../js/script.js"></script>
</html>    

